---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostPreview from '../../components/PostPreview.astro';

const posts = (await getCollection('journal')).sort(
  (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<BaseLayout title="Journal | n8than.dev" description="Thoughts and notes">
  <section>
    <h1>Journal</h1>
    {posts.map(post => (
      <PostPreview
        title={post.data.title}
        description={post.data.description}
        pubDate={post.data.pubDate}
        slug={post.id}
        tags={post.data.tags}
      />
    ))}
  </section>
</BaseLayout>

<style>
  section {
    max-width: 60rem;
    margin: 0 auto;
    padding: var(--space-lg);
  }

  section > :global(article + article) {
    margin-top: var(--space-md);
  }
</style>
